/* ./styles/globals.css */
@tailwind base;

body {
    overflow-x: hidden;
}

::selection {
    @apply bg-secondaryLight bg-opacity-40;
}

h1, h2, h3, h4, h5, h6, p {
    @apply text-gray-800;
}

p, li {
    @apply text-base lg:text-lg
}

.title {
    @apply text-primaryDark text-2xl lg:text-3xl font-bold mb-8;
}

.section-background {
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
}

.btn {
    @apply px-6 py-2 text-white transform-gpu transition-all bg-primary whitespace-nowrap;
}

.btn:hover {
    @apply shadow-lg;
}

.btn:focus {
    @apply outline-none;
}

.btn:active {
    @apply outline-none ring-2 ring-primaryLight ring-opacity-50;
}

.list-blog-thumb {
    max-height: 10rem;
}


@import './blog.css';
@import './accueil.css';
@import './rpgd.css';

@tailwind components;
@tailwind utilities;
